<div class="main">
    <div class="sidemenu">
        <ul>
          <li>
            <a href="/report">Report</a>
          </li>
          <li>
            <a href="/chart">Charts</a>
          </li>
        </ul>
      </div>
    <div class="table">
        <h3>Add Chart</h3>
        <div class="main-div">
            <div class="main-div-sidemenu">
                <div class="section-option">
                    <nz-select [(ngModel)]="chart_type" (ngModelChange)="drop()" nzPlaceHolder="Select chart type">
                        <nz-option nzValue="{{item}}" nzLabel="{{item}}" *ngFor="let item of component"></nz-option>
                    </nz-select>
                    <nz-select [(ngModel)]="mainarea" *ngIf="component != ['']" (ngModelChange)="setCols()" nzPlaceHolder="Select data table">
                        <nz-option nzValue="{{item}}" nzLabel="{{item.data_table}}" *ngFor="let item of tables"></nz-option>
                    </nz-select>
                </div>
                <div class="bottom-div" *ngIf="filters[0].filter_col !== '' ">

                  <div class="col-div-parent" *ngIf="chart_type == 'Table' ">
                    <p>Select Column</p>
                    <div class="col-div">
                      <div *ngFor="let item of col_list" class="col">
                        <nz-select [(ngModel)]="item.col_name"  nzPlaceHolder="{{item.col_name}} - Label">
                          <nz-option nzValue="{{i.col_name}}" nzLabel="{{i.col_name}}" *ngFor="let i of table_header"></nz-option>
                        </nz-select>
                        <!-- <label for="">{{item.col_name}}</label> -->
                        <input [(ngModel)]="item.label" type="text" placeholder="{{item.label}} - Label" (change)="text()" />
                        <span nz-icon nzType="delete" [nzTheme]="'fill'"></span>
                      </div>
                      <div class="btn-div">
                        <button (click)="addColumn()">Add Column</button>
                    </div>
                    </div>
                  </div>
                  <div class="col-div-parent" *ngIf="chart_type == 'bar' ">
                    <p>Select Column</p>
                    <div class="col-div">
                     <div class="axis"> 
                      <span>X Axis  </span>
                      <nz-select [(ngModel)]="table_header[0].col_name"  nzPlaceHolder="{{table_header[0].col_name}} - Label">
                        <nz-option nzValue="{{i.col_name}}" nzLabel="{{i.col_name}}" *ngFor="let i of table_header"></nz-option>
                      </nz-select>
                      <input [(ngModel)]="table_header[0].label" type="text" placeholder="{{table_header[0].col_name}} - Label" (change)="text()" />
                     </div>
                     <div class="axis"> 
                      <span>Y Axis  </span>
                      <nz-select [(ngModel)]="table_header[0].col_name"  nzPlaceHolder="{{table_header[0].col_name}} - Label">
                        <nz-option nzValue="{{i.col_name}}" nzLabel="{{i.col_name}}" *ngFor="let i of table_header"></nz-option>
                      </nz-select>
                      <input [(ngModel)]="table_header[1].label" type="text" placeholder="{{table_header[0].col_name}} - Label" (change)="text()" />
                     </div>
                    </div>
                  </div>
                  <div class="col-div-parent" *ngIf="chart_type == 'pie' ">
                    <p>Select Column</p>
                    <div class="col-div">
                     <div class="axis"> 
                      <span>Text  </span>
                      <nz-select [(ngModel)]="table_header[0].col_name"  nzPlaceHolder="{{table_header[0].col_name}} - Label">
                        <nz-option nzValue="{{i.col_name}}" nzLabel="{{i.col_name}}" *ngFor="let i of table_header"></nz-option>
                      </nz-select>
                      <input [(ngModel)]="table_header[0].label" type="text" placeholder="{{table_header[0].col_name}} - Label" (change)="text()" />
                     </div>
                     <div class="axis"> 
                      <span>Value  </span>
                      <nz-select [(ngModel)]="table_header[0].col_name"  nzPlaceHolder="{{table_header[0].col_name}} - Label">
                        <nz-option nzValue="{{i.col_name}}" nzLabel="{{i.col_name}}" *ngFor="let i of table_header"></nz-option>
                      </nz-select>
                      <input [(ngModel)]="table_header[1].label" type="text" placeholder="{{table_header[0].col_name}} - Label" (change)="text()" />
                     </div>
                    </div>
                  </div>
                  <div class="col-div-parent" *ngIf="chart_type == 'pivot' ">
                    <p>Select Column</p>
                    <div class="col-div">
                     <div class="axis"> 
                      <span>Rows  </span>
                      <nz-select [(ngModel)]="table_header[0].col_name"  nzPlaceHolder="{{table_header[0].col_name}} - Label">
                        <nz-option nzValue="{{i.col_name}}" nzLabel="{{i.col_name}}" *ngFor="let i of table_header"></nz-option>
                      </nz-select>
                      <input [(ngModel)]="table_header[0].label" type="text" placeholder="{{table_header[0].col_name}} - Label" (change)="text()" />
                     </div>
                     <div class="axis"> 
                      <span>Column  </span>
                      <nz-select [(ngModel)]="table_header[0].col_name"  nzPlaceHolder="{{table_header[0].col_name}} - Label">
                        <nz-option nzValue="{{i.col_name}}" nzLabel="{{i.col_name}}" *ngFor="let i of table_header"></nz-option>
                      </nz-select>
                      <input [(ngModel)]="table_header[1].label" type="text" placeholder="{{table_header[0].col_name}} - Label" (change)="text()" />
                     </div>
                    </div>
                  </div>
                    <div class="col-filters-div" >
                      <p>Filters</p>
                      <div class="report-list">
                        <nz-tag class="report-items" nzMode="checkable" [nzChecked]="false" *ngFor="let item of filters">{{item.filter_col}}</nz-tag>
                        <!-- <div class="report-items" *ngFor="let item of filters">{{item.filter_id}}</div> -->
                      </div>
                   </div>
                </div>
                <div class="btn-div">
                    <button (click)="submit()">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>
