<div class="select-div">
    <nz-select [(ngModel)]="type" (ngModelChange)="setType($event)" nzPlaceHolder="Select chart type">
        <nz-option nzValue="pis" nzLabel="Pie Chart"></nz-option>
        <nz-option nzValue="pivot" nzLabel="Pivot Table"></nz-option>
        <nz-option nzValue="bar" nzLabel="Bar"></nz-option>
    </nz-select>
</div>
<div class="chart-div">
    <ngx-charts-pie-chart 
        [results]="dataPie"
        [view]="[view[0], view[1]]"
        [legend]="true"
        [legendTitle]="'Product Sale Report'" 
        [view]="[1000,300]"
        [labels]="true" *ngIf="type == 'pie'">
    </ngx-charts-pie-chart>
</div>
<div class="chart-div">
    <ngx-charts-bar-vertical
    *ngIf="type === 'bar'"
    class="chart-container"
    [view]="[view[0], view[1]]"
    [scheme]="colorScheme"
    [results]="dataBar"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
  >
  </ngx-charts-bar-vertical>
</div>
<div class="chart-div">
    <db-angular-pivot-table
    
        [source]="source" 
        [configs]='configs'
    ></db-angular-pivot-table>
</div>
