.select-div{
    margin-top: 4vh;
    margin-bottom: 4vh;
    margin-left: 4vw;
}

.select-div select{
    padding: 1vw;
    width: 20%;
    border-radius: 12px;
    background-color: rgb(26, 44, 97);
    color: white;
    border: none;
}

.chart-div{
    margin: auto;
}

.ant-select{
    width: 20vw;
    padding: 0.5vw;
}
