*{
    margin: 0%;
    padding: 0%;
}

.main{
    display: flex;
    flex-direction: row;
    margin: 0%;
}

.sidemenu{
    width: 20%;
    background-color: rgb(26, 44, 97);
    color: white;
    padding-top: 5vh;
    min-height: 100vh;
}

.sidemenu a, button a{
    color: white;
    text-decoration: none;
}

.sidemenu a:visited{
    color: white;
    text-decoration: none;
}

ul{
    list-style-type: none !important;
    padding-left: 0%;
}
.sidemenu li{
    padding: 1.5vh 0vh;
    font-size: 1.5vw;
    text-align: center;

}
.sidemenu li:nth-child(2){
    background-color: rgb(155, 194, 235);
}

.table{
    margin-left: 4vw;
    margin-right: 4vw;
    width: 100%;
    margin-top: 5vh;
}

.table-header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 5vh;
}

.table-header button{
    background-color: rgb(121, 169, 220);
    color: white;
    padding: 0.75vw;
    font-size: 1vw;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    border: none;
    border-radius: 5px;
}

.table-header input{
    width: 60vw;
    padding: 0.5vw;
    border-radius: 5px;
    border: 1px solid black;
}

.table{
    width: 80vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 2vw;
}

.table table{
    min-height: fit-content;
    margin-top: 4vh;
}

.table-parent{
    padding-right: 1vw;
    height: 83vh;
}

.table th{
    background-color: rgb(121, 169, 220);
    color: white;
    text-align: left;
    font-weight: 500;
    padding: 0.5vw 3vw;
    padding-left: 0.5vw;
    font-size: 1.25vw;
}
.table td{
    background-color: rgb(181, 210, 242);
    padding: 0.25vw;
    margin-right: 1vw;
}
.table tr:nth-child(even) td{
    background-color: rgb(149, 189, 232);
}
.table tr td:first-child{
    padding: 0.5vw;
    width: 70%;
}
.table td span {
    display: flex;
    justify-content: center;
}

.dataTables_filter{
    display: none !important;
    opacity: 0 !important;
}

.dataTables_wrapper .dataTables_filter,.dataTables_wrapper .dataTables_filter input  {
    opacity: 0 !important;
    display: none !important;
}