*{
    margin: 0%;
    padding: 0%;
}

.main{
    display: flex;
    flex-direction: row;
    margin: 0%;
}

.sidemenu{
    width: 20%;
    background-color: rgb(26, 44, 97);
    color: white;
    padding-top: 5vh;
    min-height: 100vh;
}

.sidemenu a{
    color: white;
    text-decoration: none;
}

.sidemenu a:visited{
    color: white;
    text-decoration: none;
}

ul{
    list-style-type: none !important;
    padding-left: 0%;
}
.sidemenu li{
    padding: 1.5vh 0vh;
    font-size: 1.5vw;
    text-align: center;

}
.sidemenu li:nth-child(2){
    background-color: rgb(155, 194, 235);
}

.table{
    margin-left: 4vw;
    margin-right: 4vw;
    width: 100%;
    margin-top: 5vh;
}

.table h3{
    font-size: 2vw;
    font-weight: 500;
}




.table{
    width: 80vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 2vw;
}

.table table{
    min-height: fit-content;
    margin-top: 4vh;
}


.table th{
    background-color: rgb(121, 169, 220);
    color: white;
    text-align: left;
    font-weight: 500;
    padding: 0.5vw 3vw;
    padding-left: 0.5vw;
    font-size: 1.25vw;
}
.table td{
    background-color: rgb(181, 210, 242);
    padding: 0.25vw;
    margin-right: 1vw;
}
.table tr:nth-child(even) td{
    background-color: rgb(149, 189, 232);
}
.table tr td:first-child{
    padding: 0.5vw;
    width: 70%;
}
.table td span {
    display: flex;
    justify-content: center;
}

.main-div-sidemenu{
    display: flex;
    flex-direction: column;
}

.section-option{
    width: 80%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.ant-menu-submenu-title, .section{
    background-color: rgb(121, 169, 220) !important;
    color: white;
}

.section li{
    background-color: rgb(181, 210, 242);
}

.section li:nth-child(even){
    background-color: rgb(149, 189, 232);
}

.chart-list{
    width: 40%;
}

/* .report-dropdown{
    padding: 1vw 4vw;
    border: 1px solid black;
    border-radius: 5px;
} */
.report-dropdown p{
    margin: 0%;
}

.col{
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin: 1vw 2vw;
}
.col input{
    width: 60%;
    padding: 0.5vw;
    border: 1px solid black;
    border-radius: 5px;
}
.col label, .col span{
    margin: auto;
}
.col span svg{
    background-color: red;
    width: 1.5vw;
}

.col-div{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5vh;
}

.col-filters-div{
    margin-top: 5vh;
    font-size: 1.4vw;
}

.report-items{
    border: 1px solid black;
    padding: 0.5vw 2vw;
    width: fit-content;
    border-radius: 5px;
    margin: 1vw;
    height: fit-content;
}

.report-list{
    border-radius: 5px;
    min-height: 30vh;
    padding: 1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 70vw;
    font-size: 1vw;
}

.btn-div{
    width: 70vw;
    display: flex;
    justify-content: center;
}

button{
    margin: auto;
    margin-top: 5vh;
    background-color: rgb(26, 44, 97);
    color: white;
    padding: 0.75vw 2vw;
    font-size: 1vw;
    border: none;
    border-radius: 5px;
}
